<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="com.delaware.elv"
      version="0.1.0">
    <name>BandPlugin</name>
    <description>Band plugin for Apache Cordova</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/BandPlugin.js" name="BandPlugin">
        <clobbers target="BandPlugin" />
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="BandPlugin">
                <param name="wp-package" value="BandPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/wp/BandPlugin.cs" />
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/BandPluginProxy.js" name="BandPluginProxy">
            <merges target="" />
        </js-module>
    </platform>
    
      <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="com.delaware.elv">
                <param name="android-package" value="com.delaware.elv"/>
            </feature>
        </config-file>
            <source-file src="src/android/BandPlugin.java" target-dir="src/com/mypackage"/>
        <js-module src="www/android/plugins/SamplePlugin.js" name="SamplePlugin">
        </js-module>

     </platform>

</plugin>
